* {
    box-sizing: border-box;
    margin: 0;
}

.box_animate {
    width: 100%;
    height: 100vh;
    border: thick double black;
    color: #ffffff;
}

.box {
    width: 100px;
    /*height: 400px;*/
    position: relative;
    top: 200px;
    left: 400px;
}

.front {
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    transform: translateZ(40px);
}

.front::before {
    content: "front";
    background: red;
    backface-visibility: hidden;
}

.back::before {
    content: "back";
}

.front::before, .back::before {
    padding-left: 60px;
    backface-visibility: hidden;
    display: block;
}

.back {
    width: 150px;
    height: 150px;
    background-color: navy;
    position: absolute;
    transform: translateZ(-40px);
}

.moveFront {
    animation-name: moveFront;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveBack {
    animation-name: moveBack;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rotate {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes moveFront {
    from {
        transform: rotateZ(0) translateZ(0);
    }

    to {
        transform: rotateZ(360deg) translateZ(40px);
    }
}

@keyframes moveBack {
    from {
        transform: rotateZ(360deg) translateZ(-40px);
    }

    to {
        transform: rotateZ(0) translateZ(0);
    }
}